@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:rgb(140, 199, 199); width: 700px; height: 200px; margin-left: 200px;">
    
    <h1 style="margin-left: 30px; padding-top: 10px;">Welcome to the Test</h1>
    <h3 style="margin-left: 30px;">We're going to build a cool application using a MVC framework!  This application was built with the ASP.Net Core Entity Framework folks!</h3>
    
    <form action="LoginP" method="get">
        <button style="background-color:rgb(25, 25, 221); color:antiquewhite; width: 60px; height: 30px; margin-left: 30px;" type="submit">Start</button>
    </form>

</div>
<div style="margin-left: 200px;">
        <div style="display: inline-block; width: 230px;; vertical-align: top;">
            <h3>Manage Users</h3>
            <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
        </div>
        <div style="display: inline-block; width: 230px; vertical-align: top;">
            <h3>Leave Messages</h3>
            <p>Users will be able to leave a message to another user using the application.</p>
        </div>
        <div style="display: inline-block; width: 230px; vertical-align: top;">
            <h3>Edit User Information</h3>
            <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
        </div>


</div>